root = true

# Don't use tabs for indentation.
[*]
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8

[*.{ts,tsx,js}]
indent_size = 2
charset = utf-8
insert_final_newline = true


# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct,xml,stylecop}]
indent_size = 2

#### .NET Coding Conventions ####
[*.{cs,csx,cake,vb}]

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true

# Expression-level preferences
csharp_style_implicit_object_creation_when_type_is_apparent = true:warning
