<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Official">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Ev2">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
