<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 
      setup-dotnet GitHub action has a limitation that prevents auth from working when "clear" is present 
      https://github.com/actions/setup-dotnet/issues/101
    -->
    <!-- <clear /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Official" value="https://pkgs.dev.azure.com/msazure/_packaging/Official/nuget/v3/index.json" />
  </packageSources>
</configuration>