<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Add additional feeds as upstream package sources to the WebTools package source, only a single package source should be declared in this file -->
  <packageSources>
    <clear />
    <!-- <add key="WebTools Feed" value="https://devdiv.pkgs.visualstudio.com/_packaging/WebTools/nuget/v3/index.json" /> -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

</configuration>
