html, body {
  height: 100vh;
  border: 0;
  margin: 0;
  overflow: hidden;
  background-color: #1e1e1e;
}

.container {
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.left-half {
  grid-column: 1;
}

.right-half {
  grid-column: 2;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#loader:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4em;
  width: 4em;
  margin-top: -2em;
  margin-left: -2em;
  border-radius: 50%;
  border: 0.2em solid #333;
  border-top-color: #fff;
  animation: spinner 1s linear infinite;
}