out
server
node_modules
*.vsix
.vscode-test
coverage
syntaxes/bicep.tmlanguage
syntaxes/language-configuration.json
bicepLanguageServer
bicepMcpServer
ThirdPartyNotices.txt
vscode-bicep.manifest
vscode-bicep.p7s
