.vscode/
docs/
node_modules/
src/
tests/
scripts/
coverage/
out/**/*.map
out/e2e/
out/src/
out/tests/

.gitignore
.prettierrc
.vscodeignore
eslint.config.mjs
package.test.ts
webpack.config.mjs
vitest.config.mts
tsconfig.e2e.json
tsconfig.json
tsconfig.unit.json
