# ignore all by default
*
*/**

# allow the following
!out/**/*
!bicepLanguageServer/**/*
!icons/**/*
!language-configuration.json
!codeblock.json
!bicep.tmlanguage
!package.json
!README.md
!CHANGELOG.md
!LICENSE.txt
