# ignore all by default
*
*/**

# allow the following
!out/**/*
!bicepLanguageServer/**/*
!icons/**/*
!schemas/**/*
!syntaxes/**/*
!language-configuration.json
!package.json
!README.md
!CHANGELOG.md
!LICENSE.txt
