.DS_Store
node_modules
.turbo
*.log
*.tsbuildinfo
dist
dist-ssr
storybook-static
*.local
.env
.cache
server/dist
public/dist
coverage

# Playwright
**/e2e/.report/
**/e2e/.results/
playwright-report
test-results
.playwright

!packages/*
