name: GitHub Pages

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  CI: true
  # don't print dotnet logo
  DOTNET_NOLOGO: true
  # disable telemetry (reduces dotnet tool output in logs)
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
          submodules: true

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23

      - name: npm ci
        run: npm ci
        working-directory: ./src/playground

      - name: Run lint
        run: npm run lint
        working-directory: ./src/playground

      - name: Build
        run: npm run package
        working-directory: ./src/playground

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./src/playground/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    name: Deploy

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
