name: Run Benchmarks
# This action can be run on-demand against a branch.
# It runs Bicep Benchmarks, and uploads the results as an artifact

on:
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  run-benchmarks:
    name: Run Benchmarks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
          submodules: true

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5

      - name: Run Benchmarks
        run: dotnet run --configuration Release --project src/Bicep.Tools.Benchmark -- --filter '*' --profiler EP

      - name: Upload Benchmarks
        uses: actions/upload-artifact@v6
        with:
          name: BenchmarkDotNet.Artifacts
          path: ./BenchmarkDotNet.Artifacts
          if-no-files-found: error